/* add your css on this page */
body { 
    background-color: rgb(255, 255, 255); 
    color: #1E1B0E;
    margin: 100;
    padding: 100;
 
}

header {
    text-align: right;
    color: blue;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#portraitscott {
    margin-right: 50px;
    margin-top: 16px;
}


h1 {
    text-align: center;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    text-align: left;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }

h3 {
    text-align: center;
    font-size: 24px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {list-style-type: square;
}


img {
    border: black 3px groove;
    padding: 2px;
}

span {
    float: right;

}

footer {
    margin: 5px;

}
address {
    text-align: center;
}